backup/GameDev/.eslintrc.cjs
backup/GameDev/.gitignore
backup/GameDev/index.html
backup/GameDev/package-lock.json
backup/GameDev/package.json
backup/GameDev/vite.config.js
backup/GameDev/public/favicon.svg
backup/GameDev/public/fonts/fonts.css
backup/GameDev/public/fonts/Akrobat/Akrobat-Black.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-Bold.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-ExtraBold.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-ExtraLight.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-Light.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-Regular.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-SemiBold.otf
backup/GameDev/public/fonts/Akrobat/Akrobat-Thin.otf
backup/GameDev/public/fonts/Akrobat/COPYRIGHT.txt
backup/GameDev/public/fonts/Akrobat/EULA Free Font License Ver. 2.0.pdf
backup/GameDev/public/fonts/ZonaPro/demo.html
backup/GameDev/public/fonts/ZonaPro/stylesheet.css
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Black.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Black.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Black.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Black.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BlackItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BlackItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BlackItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BlackItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Bold.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Bold.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Bold.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Bold.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BoldItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BoldItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BoldItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-BoldItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBold.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBold.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBold.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBold.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBoldItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBoldItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBoldItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ExtraBoldItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Hairline.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Hairline.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Hairline.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Hairline.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-HairlineItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-HairlineItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-HairlineItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-HairlineItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Light.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Light.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Light.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Light.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-LightItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-LightItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-LightItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-LightItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Regular.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Regular.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Regular.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Regular.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-RegularItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-RegularItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-RegularItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-RegularItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBold.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBold.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBold.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBold.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBoldItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBoldItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBoldItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-SemiBoldItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Thin.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Thin.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Thin.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Thin.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ThinItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ThinItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ThinItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-ThinItalic.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Ultra.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Ultra.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Ultra.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-Ultra.woff2
backup/GameDev/public/fonts/ZonaPro/ZonaPro-UltraItalic.eot
backup/GameDev/public/fonts/ZonaPro/ZonaPro-UltraItalic.ttf
backup/GameDev/public/fonts/ZonaPro/ZonaPro-UltraItalic.woff
backup/GameDev/public/fonts/ZonaPro/ZonaPro-UltraItalic.woff2
backup/GameDev/src/App.css
backup/GameDev/src/App.jsx
backup/GameDev/src/index.css
backup/GameDev/src/main.jsx
backup/GameDev/src/assets/img/logo.svg
backup/GameDev/src/assets/img/unicorn.png
backup/GameDev/src/assets/img/socials/Behance.svg
backup/GameDev/src/assets/img/socials/Dribbble.svg
backup/GameDev/src/assets/img/socials/Facebook.svg
backup/GameDev/src/assets/img/socials/Linkedin.svg
backup/GameDev/src/assets/img/socials/Pintrest.svg
backup/GameDev/src/assets/img/socials/Snapchat.svg
backup/GameDev/src/components/footer/Footer.css
backup/GameDev/src/components/footer/Footer.jsx
backup/GameDev/src/components/header/Header.css
backup/GameDev/src/components/header/Header.jsx
